@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Mukta', sans-serif;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body {
    background: #c8d6e5;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #ecf0f1;
    box-shadow: 0 .5rem .3rem rgba(0,0,0,0.4);
}
.logo img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: .1rem solid black;
}
.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: black;
    transition: all 0.3s;
}
.header .navbar a:hover {
    font-size: 2rem;
    color: #d35400;
}
.header .icons div {
   height: 3.5rem;
   width: 3.5rem;
   line-height: 3.5rem;
   border-radius: .5rem;
   background: #bdc3c7;
   font-size: 2rem;
   margin-right: .4rem;
   text-align: center;
   cursor: pointer;
   transition: all 0.3s;
}
.header .icons div:hover {
    background: #d35400;
    color: #ecf0f1;
    height: 5.5rem;
   width: 5.5rem;
   line-height: 5.5rem;
   border-radius: 50%;
}
#menu-btn {
    display: none;
}
.header .search-form {
    position: absolute;
    top: 120%;
    right: -120%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.header .search-form.active {
    right: 2rem;
    transition: 0.4s linear;
}
.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    font-size: 1.6rem;
    color: black;
    padding: 0 1.5rem;
}
.header .search-form label {
    font-size: 2.2rem;
    color: black;
    padding-right: 1.5rem;
    cursor: pointer;
}
.header .search-form label:hover {
    color: #d35400;
}
.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    width: 35rem;
    background: #fff;
    box-shadow: 0 .6rem .12rem #444;
}
.header .shopping-cart.active {
    right: 2rem;
    transition: 0.4s linear;
}
.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}
.header .shopping-cart .box img {
    height: 10rem;
}
.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transition: .4s;
    cursor: pointer;
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover {
    font-size: 3rem;
    color: #f00;
}
.header .shopping-cart .box .content h3 {
    font-size: 1.7rem;
    color: black;
    padding-bottom: 1rem;
}
.header .shopping-cart .box .content span {
    font-size: 1.5rem;
    color: #777;
}
.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
    font-size: 1.6rem;
}
.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: black;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid black;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: all .1s;
}
.btn:hover {
    background: #d35400;
    color: #ecf0f1;
    border: none;
}
.header .shopping-cart .btn {
    display: block;
    text-align: center;
}
.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    width: 30rem;
    background: #fff;
    box-shadow: 0 .6rem .12rem #444;
    text-align: center;
}
.header .login-form.active {
    right: 2rem;
    transition: 0.4s linear;
}
.header .login-form h3 {
    font-size: 2.5rem;
    color: black;
}
.header .login-form .box {
    width: 100%;
    margin: .7rem 0;
    background: #ecf0f1;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
}
.header .login-form p {
    font-size: 1.4rem;
    color: #777;
    padding: .5rem 0;
}
.header .login-form p a {
    color: #2980b9;
    text-decoration: underline;
}

/*---------------------*/

section {
    padding: 5rem 9%;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.home .content {
    text-align: center;
    width: 80rem;
}
.home .content h3 {
    font-size: 4rem;
    font-weight: bolder;
}
.home .content h3 span {
    color: #d35400;
}
.home .content p {
    font-size: 1.7rem;
    color: #777;
    padding: 1rem 0;
    line-height: 1.8;
}

/*-------------*/
.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 4rem;
    color: black;
}
.heading span {
    background: #d35400;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.features .box-container .box {
    padding: 3rem 2rem;
    background: #f1f1f1;
    outline: 5px solid #1289A7;
    outline-offset: -1rem;
    text-align: center;
    transition: all 0.4s;
}
.features .box-container .box:hover {
    outline: 3px solid black;
    outline-offset: 0;
}
.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}
.features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
}
.features .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #777;
    padding: 1rem 0;
}
/*-------------------------*/

.products .product-slider {
    padding: 1rem;
}
.products .product-slider:first-child {
    margin-bottom: 2rem;
}
.products .product-slider .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: .4rem solid #B53471;
    box-shadow: 0 .5rem .6rem rgba(0,0,0,0.4);
    transition: all 0.4s;
}
.products .product-slider .box:hover {
    outline-offset: 0;
    outline: .4rem solid #d35400;
}
.products .product-slider .box img {
    height: 20rem;
}
.products .product-slider .box h3 {
    font-size: 2.5rem;
}
.products .product-slider .box .price {
    font-size: 2rem;
    padding: 0.5rem 0;
    color: #777;
}
.products .product-slider .box .stars i {
    font-size: 1.7rem;
    color: rgba(144, 144, 4, 0.984);
}
/*------------------------*/
.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}
.categories .box-container .box {
    padding: 3rem 2rem;
    background: #f1f1f1;
    outline: 5px solid #303952;
    outline-offset: -1rem;
    text-align: center;
    transition: all 0.4s;
}
.categories .box-container .box:hover {
    outline: 2px solid black;
    outline-offset: 0;
}
.categories .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}
.categories .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
}
.categories .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #777;
    padding: 1rem 0;
}
/*---------------------*/

.review .review-slider {
    padding: 1rem;
}
.review .review-slider:first-child {
    margin-bottom: 2rem;
}
.review .review-slider .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: .4rem solid #cf6a87;
    box-shadow: 0 .5rem .6rem rgba(0,0,0,0.4);
    transition: all 0.4s;
}
.review .review-slider .box:hover {
    outline-offset: 0;
    outline: .4rem solid #d35400;
}
.review .review-slider .box img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .review-slider .box h3 {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}
.review .review-slider .box p {
    padding: 1rem 0;
    line-height: 1.8;
    color: #777;
    font-size: 1.5rem;
}
.review .review-slider .box .stars i {
    font-size: 1.7rem;
    color: rgba(144, 144, 4, 0.984);
}

/*----------------------*/

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.blogs .box-container .box {
    overflow: hidden;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem .3rem #222;
}
.blogs .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.blogs .box-container .box .content {
    padding: 2rem;
}
.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: .1rem solid #ccc;
}
.blogs .box-container .box .content .icons a {
    color: #777;
    font-size: 1.5rem;
}
.blogs .box-container .box .content .icons a i {
    color: #d35400;
    padding-right: 0.5rem;
}
.blogs .box-container .box .content h3 {
    font-size: 2.9rem;
    line-height: 1.4;
    padding: 0.5rem 0;
}
.blogs .box-container .box .content p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #777;
    padding: 1rem 0;
}

/*----------------------*/

.footer {
    background: #fff;
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box .logo img {
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #222;
}
.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
}
.footer .box-container .box .fa-solid, .fa-brands {
    color: #d35400;
}
.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #777;
}
.footer .box-container .box .links i {
    color: #d35400;
    padding-right: 0.5rem;
    transition: all 0.4s;
}
.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}
.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #777;
}
.footer .box-container .box .share a i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    color: #000;
    margin-left: 0.2rem;
    text-align: center;
    background: #eee;
    transition: all 0.4s;
}
.footer .box-container .box .share a:hover i {
    background: #d35400;
    color: #fff;
}
.footer .box-container .box .email, .message {
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: #000;
}
.footer .box-container .box textarea {
    resize: none;
}
.footer .box-container .box .payment-img {
    margin-top: 2rem;
    height: 3rem;
}
.footer .credit {
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 2.5rem;
    text-align: center;
    font-size: 2rem;
    border-top: .1rem solid #777;
}







/*----------------*/

@media (max-width: 991px){
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section {
        padding: 3rem;
    }
}
@media(max-width: 768px){
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        padding: 1rem 0;
        background: #fff;
        box-shadow: 0 .5rem .5rem rgba(0,0,0,0.7);
        width: 95%;
    }
    .header .navbar.active {
        right: 2rem;
        transition: 0.4s linear;
    }
    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
        text-align: end;
    }
    .header .navbar a:hover {
        font-size: 3rem;
        color: #d35400;
    }
    .header .search-form.active {
        width: 90%;
    }
    .heading {
        font-size: 3rem;
    }
    .footer .box-container .box .payment-img {
        margin-left: 4rem;
        margin-top: 4rem;
    }
}
@media (max-width: 450px){
    html {
        font-size: 50%;
    }
    .footer {
        text-align: center;
    }
}